#!/bin/zsh
{{ if eq .chezmoi.os "linux" -}}
sudo apt update
sudo apt install tmux
sudo apt install git
sudo apt install silversearcher-ag
sudo apt install fzf

# For Linux x86_64 (amd64)
curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && \
  sudo install skaffold /usr/local/bin/ && \
  rm -f skaffold

# gh
(type -p wget >/dev/null || (sudo apt update && sudo apt-get install wget -y)) \
	&& sudo mkdir -p -m 755 /etc/apt/keyrings \
	&& wget -qO- https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
	&& sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
	&& echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
	&& sudo apt update \
	&& sudo apt install gh -y

{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
cask "google-chrome"
cask "visual-studio-code"
brew "tmux"
brew "git"
brew "the_silver_searcher"
brew "fzf"
brew "gh"
brew "skaffold"
EOF
{{ end -}}

curl -fsSL https://github.com/rbenv/rbenv-installer/raw/HEAD/bin/rbenv-installer | bash
eval "$(rbenv init - zsh)"
RUBY_VERSION=3.3.3
rbenv install $RUBY_VERSION --skip-existing
rbenv global $RUBY_VERSION
gem install tmuxinator

# https://github.com/pyenv/pyenv#installation
curl https://pyenv.run | bash

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh | bash
