#!/bin/zsh
{{ if eq .chezmoi.os "linux" -}}
sudo apt update
sudo apt install tmux git
# For Linux x86_64 (amd64)
curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && \
  sudo install skaffold /usr/local/bin/ && \
  rm -f skaffold
{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
cask "google-chrome"
brew "git"
brew "tmux"
brew "tmuxinator"
brew "skaffold"
EOF
{{ end -}}

curl -fsSL https://github.com/rbenv/rbenv-installer/raw/HEAD/bin/rbenv-installer | bash
eval "$(rbenv init - zsh)"
RUBY_VERSION=3.3.3
rbenv install $RUBY_VERSION --skip-existing
rbenv global $RUBY_VERSION
gem install tmuxinator

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh | bash
